.header {
  text-align: center;
  text-decoration: underline;
  color: red;
  border-radius: 20px;
  padding: 1 0 1 0;
  background-color: pink;
  font-size: 15px;
}

.body {
  text-align: center;
  border-style: solid;
  border: 2 2 2 2;
  border-radius: 20px;
  margin-top: 5px;
  background-color: red;
  font-size: 15px;
}

.question {
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  border: 2 2 2 2;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blue;
}

h2 {
  font-size: 15px:
}
